<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comw.example.user.andrewsweatherapp">

    <!-- using internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_weather_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_weather_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        <receiver android:name=".Widget.WeatherWidget"
            android:label="@string/label_widget">

            <intent-filter>
                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE">
                </action>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_widget_info"/>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCoY0fhfuWWHdPs6DEQKQ8J6Zhd90tkpiY" />

        <activity android:name=".Geo.ReturnGeoLocationActivity" />

    </application>
</manifest>